In [58]:
# modules

import json
import pandas as pd
import matplotlib.pyplot as plt
from typing import List, Optional

import seaborn as sns
import scipy
from tqdm import tqdm

%matplotlib inline

In [82]:
with open('/home/hirano/work/Competition/Nishika_cable/CenterNet-HarDNet/exp/ctdet/new_twoclass/results.json') as f:
    _test = json.load(f)

In [83]:
test = pd.DataFrame(_test)

In [84]:
test.info()
#test.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12057 entries, 0 to 12056
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   image_id     12057 non-null  object
 1   category_id  12057 non-null  int64
 2   bbox         12057 non-null  object
 3   score        12057 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 376.9+ KB

In [85]:
over_num = len(test)
print(f'検出数は{over_num}個')

検出数は12057個

In [86]:
vc = test['image_id'].value_counts()
print(vc)
#print(type(vc))

8cfecd93    3
44512bcb    3
cdcaf888    3
aa522a6b    3
ea2c89be    3
           ..
f6543e95    3
093434a3    3
0d21ae12    3
1158e7e1    3
5b4afb8d    3
Name: image_id, Length: 4019, dtype: int64

In [87]:
pd.set_option('display.max_rows', 110)
test[test['image_id'] == "fc2a469f"]

Empty DataFrame
Columns: [image_id, category_id, bbox, score]
Index: []

マイナスの値を含む結果があるときは100以上の個数となっていそう

# しきい値判定してJson2csv

In [88]:
# Scoreで上位順にソートする
test = test.sort_values(by='score', ascending=False)

In [89]:
test

       image_id  category_id                                 bbox  score
5265   6a0a323d            1   [1320.44, 984.64, 404.38, 1275.57]   0.67
7257   9e3b6232            1     [1158.87, 1690.8, 876.5, 565.91]   0.67
3507   2794fbee            1     [927.83, 1891.76, 674.77, 217.7]   0.66
10545  41332273            1  [1010.68, 1646.08, 1074.13, 650.31]   0.66
9894   6b32c01a            1     [898.02, 1894.54, 732.88, 411.3]   0.66
...         ...          ...                                  ...    ...
10775  2c17079b            1        [-27.51, -24.3, 75.68, 75.19]   0.01
9506   b7b99ba7            1   [1617.7, 1225.46, 1024.28, 740.35]   0.01
3995   77c53fd8            1    [-57.09, 3963.12, 137.81, 109.72]   0.01
10772  a5a3f1cc            1     [772.47, 3934.15, 934.93, 94.01]   0.01
8264   25d114d4            1      [-30.6, 3967.28, 81.49, 106.02]   0.01

[12057 rows x 4 columns]

In [90]:
# Example
test[test['image_id']=='fc2a469f']

Empty DataFrame
Columns: [image_id, category_id, bbox, score]
Index: []

In [91]:
image_ids = test['image_id'].unique()

In [92]:
image_ids

array(['6a0a323d', '9e3b6232', '2794fbee', ..., '8ede6b26', 'da70dfa4',
       '8c244b37'], dtype=object)

In [93]:
def check_include_minus(values:list):
    for value in values:
        if value < 0:
            return True
    return False

In [94]:
test[test['image_id']=='822f0353'].head(2)

Empty DataFrame
Columns: [image_id, category_id, bbox, score]
Index: []

In [95]:
df_tmp = None

for idx in image_ids:
    
    #idx = image_ids[idx]
    file_num = test[test['image_id']==idx].head(1)['bbox'].index[0]
    bbox     = test[test['image_id']==idx].head(1)['bbox'][file_num]
    
    if check_include_minus(bbox):
        print('HH')
        df_tmp = pd.concat([df_tmp, test[test['image_id']==idx].head(2)[1:]], axis=0)
    else:
        df_tmp = pd.concat([df_tmp, test[test['image_id']==idx].head(1)], axis=0)

print(df_tmp['image_id'].value_counts())

HH
HH
HH
8cfecd93    1
b138c0b3    1
d5b493c6    1
81b18754    1
d26fc733    1
           ..
782e82d6    1
eaa0689a    1
0d6f9709    1
f42740c1    1
5b4afb8d    1
Name: image_id, Length: 4019, dtype: int64

In [97]:
df_tmp

       image_id  category_id                                 bbox  score
5265   6a0a323d            1   [1320.44, 984.64, 404.38, 1275.57]   0.67
7257   9e3b6232            1     [1158.87, 1690.8, 876.5, 565.91]   0.67
3507   2794fbee            1     [927.83, 1891.76, 674.77, 217.7]   0.66
10545  41332273            1  [1010.68, 1646.08, 1074.13, 650.31]   0.66
9894   6b32c01a            1     [898.02, 1894.54, 732.88, 411.3]   0.66
...         ...          ...                                  ...    ...
8886   f8646a25            1   [1600.69, 2108.22, 227.49, 211.56]   0.05
8304   9b21b03d            1     [369.56, 1830.57, 145.47, 90.65]   0.05
9815   8ede6b26            1     [1241.17, 44.25, 978.33, 852.95]   0.05
10887  da70dfa4            1            [0.3, 1.32, 29.75, 36.02]   0.05
10098  8c244b37            1    [519.09, 2881.17, 409.99, 191.81]   0.04

[4019 rows x 4 columns]

In [98]:
"""
df_tmp = None

for i in tqdm(range(0, len(image_ids))):    
    
    idx = image_ids[i]
    file_num = test[test['image_id']==idx].head(1)['bbox'].index[0]
    bbox     = test[test['image_id']==idx].head(1)['bbox'][file_num]
    #print(idx, file_num, bbox, check_include_minus(bbox))
    
    if check_include_minus(bbox):
        print(i)
        break
        df_tmp = pd.concat([df_tmp, test[test['image_id']==idx].head(2)[1:]], axis=0)
    else:
        break
        print(i)
        df_tmp = pd.concat([df_tmp, test[test['image_id']==idx].head(1)], axis=0)
    #break

print(df_tmp['image_id'].value_counts())
"""

"\ndf_tmp = None\n\nfor i in tqdm(range(0, len(image_ids))):    \n    \n    idx = image_ids[i]\n    file_num = test[test['image_id']==idx].head(1)['bbox'].index[0]\n    bbox     = test[test['image_id']==idx].head(1)['bbox'][file_num]\n    #print(idx, file_num, bbox, check_include_minus(bbox))\n    \n    if check_include_minus(bbox):\n        print(i)\n        break\n        df_tmp = pd.concat([df_tmp, test[test['image_id']==idx].head(2)[1:]], axis=0)\n    else:\n        break\n        print(i)\n        df_tmp = pd.concat([df_tmp, test[test['image_id']==idx].head(1)], axis=0)\n    #break\n\nprint(df_tmp['image_id'].value_counts())\n"

In [99]:
df_tmp.to_csv('../annotations/result_new_twoclass_trainall.csv')

In [51]:
#id_names = set(test2['image_id']) - set(test['image_id'])
#print(len(id_names))

## Train

In [4]:
with open('../annotations/results_train_all.json') as f:
    _train_all = json.load(f)

train_all = pd.DataFrame(_train_all)

In [5]:
train_all

        image_id  category_id                                bbox  score
0       2f71963a            1    [1031.4, 1689.82, 560.52, 364.7]   0.51
1       2f71963a            1   [1035.4, 1701.33, 551.68, 339.51]   0.09
2       2f71963a            1  [1031.65, 1693.27, 559.78, 357.78]   0.01
3       2f71963a            1       [-9.97, -18.64, 43.35, 69.38]   0.01
4       2f71963a            2  [1031.65, 1693.27, 559.78, 357.78]   0.02
...          ...          ...                                 ...    ...
402066  6a175db8           14  [567.33, 773.56, 1736.41, 1715.49]   0.01
402067  6a175db8           14   [582.03, 904.4, 1659.89, 1632.55]   0.01
402068  6a175db8           15  [1033.6, 917.81, 1780.33, 1609.13]   0.02
402069  6a175db8           15  [615.48, 902.84, 1638.39, 1634.98]   0.01
402070  6a175db8           15  [1281.8, 1457.19, 768.68, 1274.36]   0.00

[402071 rows x 4 columns]

In [6]:
train_all = train_all.sort_values(by='score', ascending=False)

In [7]:
image_ids = train_all['image_id'].unique()
print(len(image_ids))

4019

In [16]:
import numpy as np
def as_list_bbox(bbox: str):
    return tuple(np.array(bbox.replace("[", "").replace("]", "").split(","), dtype=np.float32))

In [15]:
def check_include_minus(values:list):
    for value in values:
        if value < 0:
            return True
    return False

In [57]:
#idx = train_all[train_all['image_id']=="b978553d"].head(1)['bbox'].index[0]
#print(idx)
#tmp = train_all[train_all['image_id']=="b978553d"].head(1)['bbox'][idx]
#print(tmp)
#check_include_minus(tmp)

In [73]:
train_all[train_all['image_id']=='b978553d'].index[1]

111665

In [91]:
train_all[train_all['image_id']=='b978553d'].head(2)[1:]

        image_id  category_id                             bbox  score
111665  b978553d            5  [216.85, 659.5, 318.57, 380.69]   0.23

In [94]:
df_tmp = None

#for idx in tqdm(image_ids):
for i in tqdm(range(0, len(image_ids))):    
    idx = image_ids[i]
    #print(idx, test[test['image_id']==idx].head(3))
    
    file_num = train_all[train_all['image_id']==idx].head(1)['bbox'].index[0]
    bbox     = train_all[train_all['image_id']==idx].head(1)['bbox'][file_num]
    #print(idx, file_num, bbox, check_include_minus(bbox))
    if check_include_minus(bbox):
        df_tmp = pd.concat([df_tmp, train_all[train_all['image_id']==idx].head(2)[1:]], axis=0)
    else:
        df_tmp = pd.concat([df_tmp, train_all[train_all['image_id']==idx].head(1)], axis=0)
    #break

#print(df_tmp['image_id'].value_counts())

100%|██████████| 4019/4019 [06:20<00:00, 10.56it/s]

In [95]:
df_tmp.to_csv('../annotations/result_train_all_extracted.csv')